---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import LinkButton from "../components/LinkButton";
import Footer from "../components/Footer.astro";
import Card from "../components/Card.astro";
import ToolIcon from "../components/icons/ToolIcon";
import Icons from "../components/icons";

const projects = [
  {
    title: "Self Destructing URL Shortener",
    href: "https://github.com/saiyerniakhil/url-generator-backend",
    info: "Creating an application which is similar to bit.ly but a bit more fun added.",
    reference:
      "https://saiyerniakhil.in/creating-an-app-to-help-send-your-friends-a-self-destructing-message-1",
  },
  {
    title: "WikiPedia Dead-link Finder",
    href: "https://github.com/saiyerniakhil/wikipedia-deadlink-finder",
    info: "Building a flask microservice with a frontend which scrapes the Wikipedia page and lists out all the dead and unreachable links.",
    reference:
      "https://medium.com/@akhilsai831/coding-a-python-script-to-find-dead-links-in-a-wikipedia-page-ff7dc35dcb3e",
  },
  {
    title: "Controlling an NodeMCU ESP8266 1.0 12E With Google Firebase",
    info: "Creating a small program to control electrical appliances and devices and operating them through a mobile application with the help of firebase backend",
    href: "https://github.com/saiyerniakhil/ESPFireBase",
    reference:
      "https://www.instructables.com/Controlling-an-NodeMCU-ESP8266-10-12E-With-Google-/",
  },
];
---

<Layout title="Sai Yerni Akhil">
  <Header />
  <main>
    <h1 class="text-emerald">Hello, There!</h1>
    <p class="intro text-emerald font-medium">
      I am Sai Yerni Akhil Madabattula, a <strong>Frontend Engineer</strong> who
      loves to build and tinker applications.
    </p>

    <LinkButton
      type="link"
      iconHover={false}
      external={true}
      iconType="coffee"
      buttonText="Meet w/ me"
      href="https://cal.com/saiyerniakhil/15min"
    />
    <LinkButton
      type="link"
      iconHover={false}
      iconType="info"
      buttonText="More info about me"
      href="info"
    />

    <div class="flex items-center text-emerald">
      <span class="mr-2">
        <Icons type="tool" />
      </span>
      <h3 class="font-semibold underline text-emerald py-4">Projects</h3>
    </div>
    <div class="flex flex-col gap-4">
      {
        projects.map((projectItem) => (
          <Card
            title={projectItem.title}
            href={projectItem.href}
            info={projectItem.info}
            reference={projectItem.reference}
          />
        ))
      }
    </div>
  </main>
  <Footer />
</Layout>

<style>
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .intro {
    line-height: 1.6;
    margin: 1rem 0;
    padding: 1rem 0;
  }
  .intro code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .intro strong {
    color: var(--midnightgreen);
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
